//config
@import "./config/_variables";
@import "./config/_reset.scss";

//components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/shared.scss";
@import "./components/video.scss";
@import "./components/form.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

//screen
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";

// defaults
a {
  color: white;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
  list-style: none;
}

main {
  max-width: 1200px;
  width: 100%;
  // height: auto;
  min-height: 400px;
  margin: 0px auto;
  margin-bottom: 20px;
}
