div.upload-wrap {
  width: 100%;
  .upload-video {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #preview {
    object-fit: fill;
    width: 100%;
    max-width: 1024px;
    height: 576px;
    margin-bottom: 10px;
  }
}
