.video-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;

  //   .video-comment {
  //     background: white;
  //     color: black;
  //     padding: 10px;
  //   }
}
