header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   background: white;
  .header_logo {
    color: red;
    font-size: 40px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 30px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
    i {
      font-size: 16px;
      padding-right: 10px;
    }
    .join_btn {
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      border: solid 1px $red;
      box-sizing: border-box;
      background-color: white;
      color: $red;
    }
  }
}
