.search_wrap {
  width: 100%;
  min-height: 600px;
  .search_form {
    max-width: 500px;
    width: 100%;
    height: 100px;
    margin: 100px auto;
    margin-bottom: 80px;
    input#search {
      width: 100%;
      height: 50px;
      float: left;
      background: black;
      border: solid 1px rgba(73, 73, 73, 0.8);
      border-radius: 5px;
      box-sizing: border-box;
      margin-bottom: 10px;
      color: whitesmoke;
      text-indent: 10px;
    }
    input#search_btn {
      width: 500px;
      height: 50px;
      float: left;
      background: black;
      border-radius: 5px;
      border: none;
      box-sizing: border-box;
      color: white;
    }
  }
  .video_data {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
  }
  .no_video {
    width: 600px;
    height: 50px;
    margin: 0px auto;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }
}
