.video_mixin {
  display: block;
  .video_data {
    border-radius: 5px;
    height: 150px;
    margin-bottom: 10px;
    background: white;

    .video_text {
      padding: 0px 10px;
      .video_title {
        font-size: 18px;
        padding-bottom: 5px;
        display: block;
      }
      .video_at {
        font-size: 12px;
        opacity: 0.5;
        display: block;
        padding-top: 5px;
      }
    }
  }
}
